<div class="results-container">
	<h1>Results</h1>
	<% @result.each do |result| %>
		<div class="result">
			<span class="torrent-title"><%= result[0] %></span>
			<a class="magnet-link" href="<%= result[1] %>" title="magnet"></a>
		</div>
	<% end %>
</div>
