<h1>HELLO WORLD</h1>
<% @sup.each do |result| %>
<div class="result-container">
	<div class="magnet-container">
		<a href="<%= result %>">magnet link</a>	
	</div>
</div>
<% end %>

<% @chillin.each do |result| %>
	<p class="title"><%= result %></p>	
<% end %>
